.style1 {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center; 
    color: black; 
  }
  
  .style1 img {
    max-width: 100%; 
    border-radius: 8px; 
    margin-top: 20px;
  }